label {
  font-weight: bolder;
}
::placeholder {
  color: lightskyblue !important;
  opacity: 3;
}
::-webkit-input-placeholder {
  color:  lightskyblue !important;
}
:-moz-placeholder {
  color:  lightskyblue !important;
  opacity:  3;
}
h1 {
   text-align: center;
}
#msg {
   height: 60px;
}
#grid-contatos tbody {
   cursor: pointer;
}
form {
  background-color: darkblue;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Listagem de direitos - fundo azul claro */
#grid-contatos {
  background-color: #d0e7ff;
  padding: 20px;
  border-radius: 10px;
}
.lista-sugestoes {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
  margin-top: 2px;
  padding-left: 0;
  list-style: none;
  color: black;
  display: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.lista-sugestoes li {
  padding: 8px 12px;
  cursor: pointer;
}

.lista-sugestoes li:hover {
  background-color: #007bff; /* azul */
  color: white;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 30px 0;
  color: #f7f7f7;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  margin-top: 30px;
  color: #000;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
}

#filtro_direito {
  background-color: white;
  border: 1px solid #ddd;
}

#filtro_direito option:not(:first-child) {
  background-color: #d3d3d3;
  color: black;
}

#filtro_tipo {
  background-color: purple;
  color: white;
}

table {
  margin-top: 30px;
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #444;
  border-bottom: 2px solid #ddd;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #e0e0e0;
}

/* Sugestões */
.search-wrapper {
  position: relative;
}

.lista-sugestoes {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
  margin-top: 2px;
  padding-left: 0;
  list-style: none;
  color: black;
  display: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.lista-sugestoes li {
  padding: 8px 12px;
  cursor: pointer;
}

.lista-sugestoes li:hover {
  background-color: #007bff;
  color: white;
}